.ant-tabs-ink-bar-animated {
	background: rgb(219 234 254) !important;
	border-radius: 20px !important;
	height: 35px !important;
	z-index: -1 !important;
}

.ant-tabs-nav {
	&::before {
		border-bottom: 0 !important;
	}
}

.ant-tabs-content {
	background-color: #fff;
	padding: 20px 30px;
	border-radius: 8px;
	border-width: 1px;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}